.searchbar_container {
  display: flex;
  margin-bottom: 20px;
  gap: 0 10px;

  input {
    flex: 1;
    padding: 11px 15px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
  }

  button {
    width: 80px;
    color: #fff;
    background: rgb(37, 147, 255);
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}